<section class="leagal">

  <h1>Impressum</h1>

  <article>

    <p>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht
      laut §25 Mediengesetz</p>
    <p>{{contact?.company}}
      <br /> {{contact?.name}}
      <br /> {{contact?.street}}
      <br /> {{contact?.city}}</p>
    <p>
      <strong>Unternehmensgegenstand:</strong> Mentaltrainer Dienstleistungen</p>
    <p>
      <a mat-button href="tel:{{contact?.tel}}">
        <strong>Tel.:</strong> {{contact?.tel}}</a>
      <br />
      <a mat-button href="mailto:{{contact?.email}}">
        <strong>E-Mail:</strong> {{contact?.email}}</a>
    </p>
    <p>
      <strong>UID-Nummer:</strong> {{contact?.uidNr}}</p>
    <p>
      <strong>Mitglied bei:</strong> WKO, Landesinnung, etc.
      <br />
      <strong>Berufsrecht:</strong> Gewerbeordnung: www.ris.bka.gv.at</p>
    <p>
      <strong>Aufsichtsbehörde/Gewerbebehörde:</strong> Bezirkshauptmannschaft Wien
      <br />
      <strong>Berufsbezeichnung:</strong> Mentaltrainer
      <br />
      <strong>Verleihungsstaat:</strong> Österreich</p>
    <p>Angaben zur Online-Streitbeilegung: Verbraucher haben die Möglichkeit, Beschwerden an die OnlineStreitbeilegungsplattform
      der EU zu richten:
      <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&amp;lng=DE" target="_blank"
        rel="noopener noreferrer nofollow" class="external">http://ec.europa.eu/odr</a>. Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.</p>
    <p>Quelle: Erstellt mit dem Impressum Generator von
      <a style="text-decoration: none;" title="Impressum Generator von adsimple.at"
        href="https://www.adsimple.at" target="_blank" rel="follow">Content Marketing Agentur Wien</a> in Kooperation mit
      <a href="http://www.hausfrauenweb.de" target="_blank" rel="follow"
        style="text-decoration: none;" class="external">hausfrauenweb.de</a>.</p>
    <h2>Datenschutzerklärung</h2>
    <p>Wir legen großen Wert auf den Schutz Ihrer Daten. Um Sie in vollem Umfang über die Verwendung personenbezogener Daten
      zu informieren, bitten wir Sie die folgenden Datenschutzhinweise zur Kenntnis zu nehmen.</p>
    <h3>Persönliche Daten</h3>
    <p>Persönliche Daten, die Sie auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse
      oder andere persönlichen Angaben, werden von uns nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht
      an Dritte weitergegeben. Der Provider erhebt und speichert automatisch Informationen am Webserver wie verwendeter Browser,
      Betriebssystem, Verweisseite, IP-Adresse, Uhrzeit des Zugriffs usw. Diese Daten können ohne Prüfung weiterer Datenquellen
      keinen bestimmten Personen zugeordnet werden und wir werten diese Daten auch nicht weiter aus solange keine rechtswidrige
      Nutzung unserer Webseite vorliegt.</p>
    <h3>Google Maps</h3>
    <p>Diese Webseite verwendet Google Maps für die Darstellung von Karteninformationen. Bei der Nutzung von Google Maps werden
      von Google auch Daten über die Nutzung der Maps-Funktionen durch Besucher der Webseiten erhoben, verarbeitet und genutzt.
      Nähere Informationen über die Datenverarbeitung durch Google können Sie den Datenschutzhinweisen von Google auf
      <a
        href="https://www.google.at/intl/de/policies/privacy/" target="_blank" class="external" rel="nofollow">https://www.google.at/intl/de/policies/privacy/</a> entnehmen. Dort können Sie im Datenschutzcenter auch Ihre Einstellungen
        verändern, so dass Sie Ihre Daten verwalten und schützen können.</p>
    <h3>Datenschutzerklärung für die Nutzung von Facebook</h3>
    <p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA
      integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem &#8222;Like-Button&#8220; (&#8222;Gefällt
      mir&#8220;) auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier:
      <a href="https://developers.facebook.com/docs/plugins/"
        target="_blank" class="external" rel="nofollow">https://developers.facebook.com/docs/plugins/</a>.</p>
    <p>Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server
      hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn
      Sie den Facebook &#8222;Like-Button&#8220; anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können
      Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten
      Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der
      übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung
      von Facebook unter
      <a href="https://www.facebook.com/policy.php" target="_blank" class="external" rel="nofollow">https://www.facebook.com/policy.php</a> Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-
      Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>
    <h3>Datenschutzerklärung für die Nutzung von Twitter</h3>
    <p>Auf unserer Webseite sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden durch die Twitter Inc.,
      Twitter, Inc. 1355 Market St, Suite 900, San Francisco, CA 94103, USA angeboten. Durch das Benutzen von Twitter und
      den Funktionen der Twitter-Buttons, werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und
      anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen. Wir weisen darauf hin, dass wir als
      Anbieter der Webseite keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten.
      Weitere Informationen hierzu finden Sie in der Datenschutzrichtline von Twitter unter
      <a href="https://twitter.com/privacy?lang=de"
        target="_blank" class="external" rel="nofollow">https://twitter.com/privacy?lang=de</a>. Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto- Einstellungen
      unter
      <a href="https://twitter.com/settings/account" target="_blank" class="external" rel="nofollow">https://twitter.com/settings/account</a> ändern.</p>
    <h3>Auskunftsrecht</h3>
    <p>Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten, deren Herkunft und Empfänger
      sowie den Zweck der Speicherung</p>
    <h3>Bildernachweis</h3>
    <p>iStockphoto.com, pixabay.com, unsplashed.com</p>

  </article>

</section>
