<section class="leagal">

  <h1>Impressum</h1>
  <article>

    <ul>
      <li>
        <h3>Konstantin Anestopoulos</h3>
      </li>
      <li>Dipl. Mentaltrainer</li>
      <li>Projektmanager</li>
      <li>
        <a mat-button href="tel: 0043 1 555 55 555">0043 1 555 55 555</a>
      </li>
      <li>
        <a mat-button href="mailto: test@test.at">test@test.at</a>
      </li>
      <br>
      <li>Text: Konstantin Anestopoulos</li>
      <li>Fotos: Creative Commons</li>
      <li>Web: Alexander Lohn</li>
    </ul>

  </article>

</section>
