<div class="headerWrap" fxFlex="100" fxLayout="column" fxLayoutAlign="end center">

  <mat-toolbar fxLayoutAlign="center center">
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/mentaltraining" routerLinkActive="active">Mentaltraining...?</a>
    <a mat-button routerLink="/offers" routerLinkActive="active">Mein Angebot</a>
    <a mat-button routerLink="/aboutme" routerLinkActive="active">Über mich</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Kontakt</a>
  </mat-toolbar>

</div>
