<div class="headerWrap" fxFlex="100" fxLayout="column" fxLayoutAlign.gt-xs="end center" fxLayoutAlign="start center">

  <button [matMenuTriggerFor]="menu" fxFlexAlign="start" mat-icon-button fxShow fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let link of links">
      <a mat-menu-item *ngIf="link.ext==false"
        [routerLink]="link.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        {{link.name}}
      </a>
    </ng-container>
  </mat-menu>


  <mat-toolbar fxLayoutAlign="center center" fxHide fxShow.gt-xs>
    <ng-container *ngFor="let link of links">
      <a mat-menu-item *ngIf="link.ext==false"
        [routerLink]="link.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        {{link.name}}
      </a>
    </ng-container>
  </mat-toolbar>

</div>
