.header
  min-height: 250px //for IE flexLayout compatibility
  background-image: url("../../assets/images/EM-background.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center bottom
  // background-attachment: fixed

  mat-toolbar
    height: 48px
    background-color: rgba(200, 200, 200, 0.4)
    a
      font-family: 'Play', sans-serif

a.active
  // color: #fd5200  !important
  background-color: rgba(219,201,131, 0.4) !important
