<section class="header" fxFlex="100" fxLayout="column" fxLayoutAlign.gt-xs="end center" fxLayoutAlign="start start">

  <button [matMenuTriggerFor]="menu" mat-icon-button fxShow fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" fxShow fxHide.gt-xs>
    <ng-container *ngFor="let link of links">
      <a mat-menu-item *ngIf="link.ext==false"
        [routerLink]="link.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        {{link.name}}
      </a>
    </ng-container>
  </mat-menu>

  <mat-toolbar #mtb class="mat-elevation-z8" fxLayout fxLayoutAlign="space-between center" fxHide fxShow.gt-xs >

    <div fxFlex="15"></div>
    <ng-container *ngFor="let link of links">
      <a fxFlex="1 0 auto" mat-menu-item *ngIf="link.ext==false"
        [routerLink]="link.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        {{link.name}}
      </a>
    </ng-container>
    <div fxFlex="15"></div>

  </mat-toolbar>

</section>
