.header
  min-height: 25vh //for IE flexLayout compatibility
  background-image: url("../../assets/images/background-mobile.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  @media only screen and (min-width: 480px) and (min-height: 500px)
    min-height: 70vh //for IE flexLayout compatibility
    background-image: url("../../assets/images/background.png")
    background-attachment: fixed

  mat-icon
    font-size: 30px

  mat-toolbar
    height: 48px
    padding: 0
    background-color: rgba(200, 200, 200, 0.5)

    a
      text-align: center
      text-transform: uppercase
      padding: 0 5px
      font-weight: 600

    .fixedTop
      position: fixed
      top: 0
      left: 0
      z-index: 2

a.active
  // color: #fd5200  !important
  background-color: rgba(219,201,131, 0.4) !important
