<section class="offers">

  <h1>EINZELTRAINING</h1>
  <h3>Wie läuft ein Einzeltraining ab?</h3>
  <p>
    Bevor wir mit dem Training starten, lernen wir uns bei einem kostenlosen Erstgespräch kennen. Im Rahmen dieses Gespräches
    erfahren Sie wichtige Dinge über Mentaltraining und Sie erzählen mir, welchem Thema Sie sich gerne widmen möchten.
  </p>

  <p>
    Dauer des Trainings: Wir definieren im Rahmen des Erstgesprächs wieviel Zeit wir diesem Thema gemeinsam widmen wollen. Die
    Dauer des Mental Coachings hängt jedoch maßgeblich davon ab, wie viel Zeit Sie sich zum Üben nehmen möchten.
  </p>

  <br>

  <h1>Mentales Coaching im Sport</h1>
  <p>Mentale Stärke im Sport und Wettkampf</p>
  <p>
    Egal, ob Mannschafts- oder Einzelsport, will man an die Spitze und dort auch bleiben, ist Mentaltraining unverzichtbar. Es
    ist im Profisport nicht mehr wegzudenken.
    <br>
    <strong>Sieg oder Niederlage stehen oft schon vor dem Start fest - die Entscheidung fällt im Kopf - in der mentalen Stärke.</strong>
  </p>
  <p>
    <strong>Dieses Training wird auf Sportart und Persönlichkeit durchstrukturiert, wobei diese Hauptthemen immer enthalten sind:</strong>
  </p>

  <ul>
    <li>Genaue Analyse von Stärken und Schwächen</li>
    <li>Erfolgs- und Leistungsblockaden lösen</li>
    <li>Zieldefinition</li>
    <li>Konzentration- und Motivationssteigerung </li>
    <li>Innere Bilder und Dialoge</li>
    <li>Energiepotential erhöhen</li>
    <li>Stärken stärken</li>
    <li>Gedanken und die Wirkung auf Körper, Emotionen, Leistung und Resultate</li>
    <li>Umgang mit Leistungsdruck und Nervosität</li>
    <li>In Sekunden zur innerer Ruhe und Kraft</li>
    <li>Bewegungsabläufe ausbauen und manifestieren</li>
    <li>Mentale Strategien bei Niederlagen</li>
    <li>Richtiger Umgang mit "Gegnern"</li>
    <li>Persönlichkeits-Steigerung</li>
    u.v.m.
  </ul>

  <p>
    Sehr bewährt haben sich in Sport-Coaching verschiedenste Optimierungen mit Hilfe von hypnotischen Techniken. Mittels Mental-
    Suggestionen können Verhalten, Konzentration, Bewegungsabläufe und vieles mehr gezielt programmiert werden.
  </p>


</section>
