.appWrapper
  min-height: 100vh

.header
  background-image: url("/assets/images/EM-background.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center bottom

.main
  background-color: yellow

.footer
  background-image: url("/assets/images/EM-footer-background.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
