.appWrapper
  min-height: 100vh

  app-header
    min-height: 210px //for IE flexLayout compatibility
    // background-color: gold

  app-main
    min-height: 400px //for IE flexLayout compatibility
    // background-color: yellow

  app-footer
    // background-color: #dad512
