<section class="mentaltrainer">

  <header>

    <h1>Anwendungsbereiche</h1>
    <p>
      Die gute Nachricht vorweg: Mentales Training ist erlernbar! Egal in welchem Bereich Sie dieses Wissen umsetzen möchten, unser
      Gehirn funktioniert immer gleich. Im Rahmen eines Trainings gebe ich dieses Wissen weiter und fungiere als Begleiter
      auf Ihrem Weg!
    </p>

  </header>

<article>

    <p>
      Hier finden Sie einen Auszug an Bereichen, in denen Sie Mentaltraining anwenden können:
    </p>

    <ul>
      <li>
        <strong>Beruf:</strong> Erlangen mentaler Stärke und Führungs-Kompetenz/ Erlernen von Techniken zur Stressreduktion Stärkung des eigenen Vertrauens
        im Bewerbungs-Prozess/ Erleichterung in Ihrer Entscheidungsfindung
      </li>
      <li>
        <strong>Ausbildung:</strong> Gelassenheit in Prüfungssituationen/
        Fokussieren auf Ihren Erfolg
      </li>
      <li>
        <strong>Beziehung:</strong> Erkennen Ihrer Bedürfnisse und Blockaden in der Partnerschaft/ Kreation Ihres Wunschbildes eines passenden Partners/
        Konflikte erkennen/ Erlernen mentaler Techniken zur Konfliktlösung
      </li>
      <li>
        <strong>Selbstvertrauen:</strong> Erlernen von mentalen Techniken zur Steigerung des Selbst-Bewusstseins/ Charisma-Training/ Erkennen von
        mentalen Fähigkeiten zur Gestaltung und persönlichen Weiterentwicklung
      </li>
      <li>
        <strong>körperlich und seelisches Wohlbefinden:</strong> Training von Visualsierungstechniken für das Training zur Wunschfigur/ Erlernen von
        Entspannungs-Techniken und Maßnahmen zur Stressprävention
      </li>
      <li>
        <strong>Sport:</strong> Erlernen von effektiven Tools für den Wettkampf/ Zielfokussierung/ mentalen Erfolgstechniken/ Erlernen von Aktivierungstechniken
      </li>
      <li>
        <strong>Kindermentaltraining</strong>
      </li>
      <li>
        <strong>Künstlermentaltraining</strong>
      </li>
      <li>
        oder haben Sie ein anderes, ganz <strong>persönliches Thema</strong>?
      </li>
    </ul>

    <p>
        Sie finden hier auf meiner Website immer wieder neue Artikel - dabei möchte ich zeigen, wie vielseitig Mentaltraining anwendbar ist und belegbar die gewünschten Erfolge bringt.
    </p>

    <img src="../../../assets/images/mentaltraining.png" alt="Mentaltraining">

    <p>
        Mentaltraining hat Ihr Interesse geweckt? Dann kontaktieren Sie mich noch heute für ein kostenloses Erstgespräch (<a routerLink="/contact">Link zu Kontakt</a>) - ich freue mich auf Sie!
    </p>

  </article>

  <article>

    <h1>Was bedeutet Selbstbewusstsein?</h1>

    <p>
      Selbstbewusstsein wird oft fälschlicherweise als Synonym für extrovertiert, stark, taff und sehr sehr sicher gesehen - meist mit der Annahme dass als selbstbewusster Mensch keine Fehler gemacht werden dürfen. Es müssten quasi die vermeintlich negativen Eigenschaften versteckt werden um die "guten Seiten" seiner selbst hervorzukehren und damit das Selbstbewusstsein zu stärken. Das ist natürlich eine harte Sichtweise - gerade für introvertierte, schüchterne oder sehr sensible Menschen.
    </p>

    <img src="../../../assets/images/self.png" alt="Selbstbewusstsein">

    <p>
      Dabei ist es viel viel einfacher: Teilen wir den Begriff in seine Stammwörter dann erhalten wir Selbst und bewusst - verfüge ich also über ein gutes Selbstbewusstsein bedeutet dies, dass ich mir meiner selbst bewusst bin. Klingt einfach, oder nicht? Trotzdem blicke ich nach dieser Erklärung meist in ratlose Gesichter.
    </p>
    <p>
      Und da sind wir dann meist schon beim Kern des Übels: Uns wurde meist schon von unseren Eltern, Großeltern, Lehrern, Freunden, Partner(n) etc. soviel erzählt wie wir sind und wie wir nicht sind bzw. wer wir sein sollten und eben nicht sind dass wir oft bei der Frage: "Wer bin ich eigentlich?" schon stocken und nicht weiter wissen.
      Weitere Fragen könnten lauten: " Welche Bedürfnisse habe ich? Welche Wünsche? Welche Ziele?" Was macht mich eigentlich aus?"
    </p>

  </article>

</section>
