<section class="aboutme">

  <h1>{{headline}}</h1>

  <article>
    <p>
      Ich arbeite mit einem Team von Mentaltrainern und anderen Experten eng zusammen, um kreativ aus einem Pool von Ideen zu schöpfen.
      „Mental Life“ ist das Mentaltraining der Zukunft und die Antwort auf unsere digitalisierte und vernetzte Welt, denn
      …
    </p>

    <ul>
      <li> jeder Einzelne trägt alle Potentiale in sich</li>
      <li> jeder ist mit jedem verbunden (wie in den sozialen Medien)</li>
      <li> alle Möglichkeiten sind vorhanden (wie im World Wide Web)</li>
      <li> moderne Wissenschaft und Spiritualität sind eins</li>
    </ul>
    <p>
      In meinen Seminaren hast du die Gelegenheit, Neues auszuprobieren. Alle Methoden sind einfach und haben das Potential, dein
      Leben rasch und nachhaltig zu verbessern.
    </p>
  </article>

</section>
