.contact
  p
    text-align: center

  .contactdata
    display: block
    max-width: 75%
    margin: 0 auto
    text-align: center

  ul
    li
      line-height: 30px
      list-style-type: none
      a
        text-decoration: none

.map
  padding: 20px
  iframe
    height: 300px

