.contact
  p
    text-align: center

  .contactdata
    display: block
    max-width: 75%
    margin: 0 auto
    text-align: center

    ul
      margin: 0
      padding: 0
      li
        line-height: 30px
        list-style-type: none
        a
          text-decoration: none

  .map
    margin: 0.83em auto

    iframe
      height: 250px
      min-width: 450px
