<section class="contact">

  <header>
    <h1>Kontakt</h1>
  </header>
  <p>
    Sie haben Fragen zu meinem Angebot oder wollen einen Termin für ein Erstgespräch ausmachen?
    <br>Ich freue mich, von Ihnen zu hören!
  </p>

  <div fxLayout fxLayoutWrap>
    <div fxFlex="1 0 30" class="contactdata">
      <ul>
        <li>
          <h3>Konstantin Anestopoulos</h3>
        </li>
        <li>Dipl. Mentaltrainer</li>
        <li>Projektmanager</li>
        <li>
          <a mat-button href="tel: 0043 1 555 55 555">0043 1 555 55 555</a>
        </li>
        <li>
          <a mat-button href="mailto: test@test.at">test@test.at</a>
        </li>
      </ul>
    </div>

    <div fxFlex="1 0 60" class="map" fxLayout>
      <iframe fxFlex src="https://maps.google.com/maps?q=stephansplatz 1, 1010 wien&t=&z=17&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no">
      </iframe>
    </div>
  </div>

</section>
