<section class="contact">

  <article fxLayout fxLayoutWrap>

    <div fxFlex="1 0 30" class="contactdata">
      <ul>
        <li>
          <h1>{{contact?.name}}</h1>
        </li>
        <li>
          <h2>{{contact?.job}}</h2>
        </li>
        <li>{{contact?.job2}}</li>
        <li>
          <a mat-button href="tel:{{contact?.tel}}">
            <i class="material-icons">phone</i>
            {{contact?.tel}}
          </a>
        </li>
        <li>
          <a mat-button href="{{contact?.location}}" target="_blank">
            <i class="material-icons">location_on</i>
            {{contact?.street}}, {{contact?.city}}
          </a>
        </li>
        <li>
          <a mat-button href="{{contact?.email}}">
            <i class="material-icons">email</i>
            {{contact?.email}}
          </a>
        </li>
      </ul>
    </div>

    <div fxFlex="1 0 60" class="map" fxLayout>

      <iframe
        fxFlex
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9amk0J0ru08ENZ3ofk4sj5lArrRdWHaY&q=stephansplatz 1, 1010 wien"
        allowfullscreen>
      </iframe>

    </div>

  </article>

  <article>

    <p>
      Sie haben Fragen zu meinem Angebot oder wollen einen Termin für ein Erstgespräch ausmachen?
      <br>Ich freue mich, von Ihnen zu hören!
    </p>

  </article>

</section>
