.contact

  .contactdata
    display: block
    max-width: 80%
    margin: 10px auto
    text-align: center

    ul
      margin: 0
      padding: 0
      li
        line-height: 30px
        list-style-type: none
        a
          text-decoration: none
          transition: all 0.2s
          &:hover
            transform: scale(1.1)
            font-weight: bold

  .map
    margin: 30px auto

    iframe
      border: 0
      height: 300px
      @media only screen and (min-width: 480px)
        min-width: 410px

  p
    text-align: center
