.home

  header
    font-family: 'Kalam', cursive
    text-align: center
    text-transform: uppercase

    .quote
      font-size: 24px
      margin-bottom: 0
      @media only screen and (min-width: 360px)
        font-size: 27px

    .author
      font-size: 14px
      margin-left: 100px
      @media only screen and (min-width: 480px)
        margin-left: 200px

  article
    font-family: 'Barlow', sans-serif

  .cards

    mat-card
      width: 280px
      margin: 10px
      border-radius: 0 0 8px 8px

      mat-card-content
        min-height: 100px

      img
        height: 186px
