<section class="home">

  <header>

    <p class="quote">
      Ich denke, also bin ich
    </p>
    <span class="author">
      René Decartes
    </span>

  </header>

  <article>

    <p>
      Haben Sie sich schon einmal gefragt....was macht einen strahlenden Sieger bei einem Wettkampf, einen erfolgreichen Unternehmer,
      eine glückliche und zufriedene Mutter aus? Ist es ein angeborenes "Erfolgs-" oder "Glücks-Gen", das diese Menschen
      haben, oder können diese Fähigkeiten Erfolg und Zufriedenheit erlernt werden? Meiner Meinung nach haben diese Menschen
      eines gemeinsam: Sie vertrauen sich selbst und haben gelernt, ihre Einstellung zu sich selbst und ihre Ziele so auszurichten,
      dass sich diese förderlich auf ihr Leben auswirken. Und genau hier setzt mentales Training an.
    </p>
    <p>
      Ich begleite Menschen, die mentale Stärke durch Erkennen und Auflösen von festgefahrene Denk-, Verhaltens- und Emotionsmustern
      erreichen möchten. Ich gebe sowohl im Einzel-Training als auch in Seminaren und Lehrgängen das Wissen zu mentalen Techniken
      weiter.
    </p>

  </article>

  <div class="cards" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-evenly stretch">

    <mat-card *ngFor="let card of cards" fxFlex="0 1 280px" class="mat-elevation-z8" routerLink={{card.buttonLink}}>

      <img mat-card-image src={{card.imgSrc}} alt={{card.imgAlt}}>

      <mat-card-header>
        <mat-card-title><h1>{{card.title}}</h1></mat-card-title>
      </mat-card-header>

      <mat-card-content >
        <p>
          {{card.content}}
        </p>
      </mat-card-content>

      <div fxHide fxShow.gt-xs>
        <hr>

        <mat-card-actions>
          <button mat-button routerLink={{card.buttonLink}}>{{card.buttonText}}</button>
        </mat-card-actions>
      </div>
      </mat-card>


  </div>

</section>
