<section class="home">

  <header class="quotation">

    <p class="it">
      Ich denke, also bin ich
    </p>
    <span class="author">
      René Decartes
    </span>

  </header>

  <article>

    <header>
      <h1>Willkommen</h1>
    </header>

    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ducimus sequi numquam vel placeat quis, aspernatur quo assumenda,
      consequuntur fugit facilis quos. Laudantium, explicabo consequatur. Quos nihil harum beatae dolorem. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Odit aperiam enim facilis porro eum sequi ex fugiat laudantium placeat, architecto
      nesciunt voluptatibus debitis eveniet ea magnam dolor veritatis alias nisi. Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Sit error accusamus qui velit quis itaque dolorum a expedita ipsa molestias minima aperiam magni,
      veniam nam necessitatibus soluta laboriosam. At, suscipit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Atque beatae saepe rem ipsam eaque incidunt eum doloribus tenetur illo, laborum natus quia aperiam magni qui dolores
      nisi. Veritatis, suscipit fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quaerat itaque non,
      ullam dicta voluptatum expedita nulla minus aliquam at repudiandae fugiat laborum eveniet doloremque placeat reprehenderit!
      Eligendi, laborum omnis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, dolores ullam similique
      illo dolor exercitationem itaque facere, quisquam sint nam cum necessitatibus architecto asperiores placeat culpa eos,
      libero est esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ducimus sequi numquam vel placeat
      quis, aspernatur quo assumenda, consequuntur fugit facilis quos. Laudantium, explicabo consequatur. Quos nihil harum
      beatae dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aperiam enim facilis porro eum sequi
      ex fugiat laudantium placeat, architecto nesciunt voluptatibus debitis eveniet ea magnam dolor veritatis alias nisi.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit error accusamus qui velit quis itaque dolorum a expedita
      ipsa molestias minima aperiam magni, veniam nam necessitatibus soluta laboriosam. At, suscipit. Lorem ipsum dolor,
      sit amet consectetur adipisicing elit. Atque beatae saepe rem ipsam eaque incidunt eum doloribus tenetur illo, laborum
      natus quia aperiam magni qui dolores nisi. Veritatis, suscipit fugiat. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Eaque quaerat itaque non, ullam dicta voluptatum expedita nulla minus aliquam at repudiandae fugiat laborum eveniet
      doloremque placeat reprehenderit! Eligendi, laborum omnis. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Temporibus, dolores ullam similique illo dolor exercitationem itaque facere, quisquam sint nam cum necessitatibus architecto
      asperiores placeat culpa eos, libero est esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ducimus
      sequi numquam vel placeat quis, aspernatur quo assumenda, consequuntur fugit facilis quos. Laudantium, explicabo consequatur.
      Quos nihil harum beatae dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aperiam enim facilis
      porro eum sequi ex fugiat laudantium placeat, architecto nesciunt voluptatibus debitis eveniet ea magnam dolor veritatis
      alias nisi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit error accusamus qui velit quis itaque dolorum
      a expedita ipsa molestias minima aperiam magni, veniam nam necessitatibus soluta laboriosam. At, suscipit. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Atque beatae saepe rem ipsam eaque incidunt eum doloribus tenetur illo,
      laborum natus quia aperiam magni qui dolores nisi. Veritatis, suscipit fugiat. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Eaque quaerat itaque non, ullam dicta voluptatum expedita nulla minus aliquam at repudiandae fugiat
      laborum eveniet doloremque placeat reprehenderit! Eligendi, laborum omnis. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Temporibus, dolores ullam similique illo dolor exercitationem itaque facere, quisquam sint nam cum
      necessitatibus architecto asperiores placeat culpa eos, libero est esse.
    </main>

  </article>

</section>
