.quotation
  font-family: 'Kalam', cursive
  text-align: center
  text-transform: uppercase

  .it
    font-size: 28px
    margin-bottom: 0
    font

  .author
    font-size: 14px
    margin-left: 100px

article
  padding: 0 10%
  font-family: 'Barlow', sans-serif
  margin-bottom: 50px
